.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #414141;
  border-radius: 15px;
  min-width: 500px;
}

.modal-header,
.modal-footer {
  height: 60px;
  background-color: #55f;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
}

.modal-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-body {
  padding: 15px;
  padding-bottom: 0;
}

.modal-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: flex-end;
}
